* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


body {
    font: 400 16px 'Lexend';
    font-style: normal;
    color: #fff;   
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}