$main-blue-color: #478BF9;
$project-white-color: #ffffff;

.backgroundImg {
    background-image: url(./assets/MainWrapper.svg);
    background-size: cover;
    width: 1920px;
    height: 1265px;
    margin: auto;
    padding-top: 4px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1640px;
        margin: auto;

        .info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 669px;

            h1 {
                font: 500 96px Lexend;
                color: var(--main-clean-white-ffffff, $project-white-color);
            }

            .titlecolor {
                color: var(--main-blue-478-bf-9, $main-blue-color);
            }

            p {
                font: 500 32px Lexend;
                color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
                gap: 24px;
            }
         
            button {
                width: 393px;
                border-radius: 48px;
                background: var(--main-blue-478-bf-9, $main-blue-color);
                font: 600 24px Lexend;
                color: var(--main-clean-white-ffffff, $project-white-color);
                text-align: center;
                padding: 20px 72px;
                margin-top: 48px;
            }
        }

        .mainimg {
            background-image: url(./assets/Banner.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 334px;
            height: 1048px;
            align-items: center;
            animation: moveVertical 5s ease infinite;
        }

        .blog {
            max-width: 531px;
            position: relative;

            h2 {
                font: 600 40px Lexend;
                color: var(--main-clean-white-ffffff, $project-white-color);
                text-align: center;
                margin-bottom: 24px;
            }


            .blogOverflow {
                padding: 24px 12px 24px 24px;
                margin-left: 16px;
                border-radius: 100px;
                border: 3px solid var(--main-blue-478-bf-9, $main-blue-color);
                background: var(--transp-white-white-12, rgba(255, 255, 255, 0.12));
                backdrop-filter: blur(10px);

                &::after {
                    content: "";
                    position: absolute;
                    max-height: 470px;
                    height: 100%;
                    top: 85px;
                    right: 10px;
                    width: 8px;
                    border-radius: 4px;
                    background-color: rgba($project-white-color, 0.12);
                }
            }

            .payment {
                position: relative;
                display: flex;
                flex-direction: column;
                padding-right: 12px;
                gap: 15px;
                overflow-y: auto;
                max-width: 531px;
                max-height: 595px;

                .item {
                    width: 100%;
                    padding: 16px 64px;
                    border-radius: 196px;
                    background: var(--main-deep-blue-1-e-1231, #1E1231);
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 14px;
                    align-self: stretch;

                    .text {
                        color: var(--main-clean-white-ffffff, #FFF);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }

                    .date {
                        color: var(--transp-white-white-60, rgba(255, 255, 255, 0.60));
                        font-feature-settings: 'liga' off;
                        font-family: Futura PT;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 450;
                        line-height: 16px;
                    }

                }

                &::-webkit-scrollbar {
                    display: block;
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: $main-blue-color;
                    border-radius: 4px;
                }

                &::-webkit-scrollbar-track-piece {
                    margin-right: 5px;
                }

                &::-webkit-scrollbar-track-piece:end {
                    margin-bottom: 62px;
                    background: transparent;
                }

                &::-webkit-scrollbar-track-piece:start {
                    margin-top: 62px;
                    background: transparent;
                }
            }
        }
    }

    @media screen and (max-width:300px) {
        width: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            width: 100%;
            margin: auto;
            padding: 20px;
            gap: 15px;

            border-radius: 50px 50px 0px 0px;
            border-top: 2px solid var(--main-blue-478-bf-9, #478BF9);
            border-right: 2px solid var(--main-blue-478-bf-9, #478BF9);
            border-left: 2px solid var(--main-blue-478-bf-9, #478BF9);
            background: var(--main-deep-blue-1-e-1231, #1E1231);

            .nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 2px;
            }

            .info {
                margin-top: 10px;   
                margin: auto;           

                h1 {
                    font: 500 46px Lexend;
                    color: var(--main-clean-white-ffffff, $project-white-color);
                }
    
                .titlecolor {
                    color: var(--main-blue-478-bf-9, $main-blue-color);
                }

                p {
                    text-align: left;
                    font: 400 14px Lexend;
                    line-height: 20px;
                }

                button {
                    width: 300px;
                    border-radius: 48px;
                    background: var(--main-blue-478-bf-9, $main-blue-color);
                    font: 600 18px Lexend;
                    color: var(--main-clean-white-ffffff, $project-white-color);
                    text-align: center;
                    padding: 20px 72px;
                    margin-top: 48px;
                }
            }

            .blog {
                .blogOverflow {
                    padding: 12px 0 12px 12px;
                    border-radius: 50px;
                    margin-left: 0;

                    &::after {
                        top: 72px;
                        right: 0;
                    }
                }

                .payment {
                    max-width: 300px;
                    padding-right: 12px;

                    .item {
                        border-radius: 40px;
                        padding: 15px 35px;

                        .text {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}